language: php

php:
  - 5.6
  - 7.0
  - 7.1

matrix:
  include:
    - php: 5.6
      env: setup=lowest
    - php: 5.6
      env: setup=stable

sudo: false

install: travis_retry composer install --no-interaction --prefer-source

matrix:
  allow_failures:
    - php: 7.1
  fast_finish: true
